
.input {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    position: relative;
}

.select-label {
    font-size: 14px;
    color: #999999;
    display: block;
    align-self: baseline;
    padding-left: 10px;
}
  
.icon {
    position: absolute;
    min-height: 25px;
    min-width: 40px;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.input-field {
    width: 20em;
    padding: 10px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid black;
    border-right: 0px;
}

.input-field-centered {
    text-align: center;
}

input:focus {
    outline: none !important;
    border:1px solid #FDC02D;
    box-shadow: 0 0 10px #719ECE;
  }

  textarea:focus {
    outline: none !important;
    border:1px solid #FDC02D;
    box-shadow: 0 0 10px #719ECE;
  }

  .input-small {
    width: 4em !important;
    margin: 0 !important;
    align-content: center;
}

.select-small {
    width: 10em !important;
    margin: 0 !important;
    align-content: center;
}

.select-field-small {
    width: 10em !important;
    margin: 0 !important;
}

.input-field-small {
    width: 4em !important;
    margin: 0 !important;
}