.tabs {
    flex: 11;
    position: relative;
}

.tabs-hr {
  position: absolute;
  top: 8%;
  width: 100%;
  left: 2.5em;
  border-top: 2px solid black;
}

.tab-header {
    list-style: none;
    background: #E5E5E5;
    line-height: 114px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    color: #999999;
    width: 100%;
}

  .tab-header li {
    display: inline;
    padding: 7px 20px;
    line-height: 35px;
  
    cursor: pointer;
  }
  
  .tab-header li.active,
  .tab-header li:hover {
    font-size: 30px;
    color: black;
  }

  .tab-content {
    background: #fff;
    width: 100%;
    position: relative;
  }

  .tab-controls {
    float: right;
  }
