.yellow-button {
    width: 10em;
    height: 3em;
    background: #FDC02D !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    border: 0px;

    color: #000000;
}

.white-button {
    width: 10em;
    height: 3em;
    background: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    border: 1px solid lightgray;

    color: #000000;
}

a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000 !important;
}

.error-span {
    color: red;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
}

